    <p style="margin-top: 50px; text-align:center">Created By Tim Fogarty for <a href="https://github.com/TimFogarty/HackSocNodeTutorial">HackSoc tutorial</a></p>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
